.container{
    background-color: #F6F6F6;
    margin-top: 11.3rem;
    width: 100%;
}

.container p{
    padding-top: 6.7rem;
    margin-bottom: 3.2rem;
    font-size: 2rem;
    text-align: center;
}

.container input{
    width: 53.5rem;
    height: 4.5rem;
    background: #C0C0C0;
    border: 0;
}

.container input::placeholder{
    color: #fff;
    font-size: 1.6rem;
    padding-right: 1.2rem;
}

.container button{
    background: #000;
    border: 0;
    width: 15.2rem;
    height: 4.5rem;
    font-size: 1.6rem;
    color: #fff;
}

.container div{
    display: flex;
    justify-content: center;
    padding-bottom: 6.9rem;
}

@media screen and (max-width: 768px) {
    .incon{
        width: 80%;
        margin: 0 auto;
    }

    .container p{
        font-size: 1.2rem;
    }
}