.about_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.year{
    font-size: 18rem;
    background-image: url(/images/year.png);
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: -50px -100px;
}

.about_container h3{
    font-size: 3.5rem;
    margin-top: 35px;
}

.title{
    color: #575757;
    font-size: 2.5rem;
    margin-top: 35px;
}

.content{
    text-align: center;
    max-width: 90%;
    font-size: 2rem;
    margin-top: 97px;
}

.btn{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    border-radius: 20px;
    border: 1px solid #5B5B5B;
    padding: 15px 0;
    margin: 100px 0;
}

@media screen and (max-width:768px) {
    .year{
        font-size: 10rem;
        background-position: 180px 220px;

    }
    .btn{
        width: 60%;
        font-size: 1rem;
    }
    .about_container h3{
        font-size: 1.5rem;
    }
    .title{
        font-size: 1.1rem;
    }
    .content{
        font-size: 1rem;
    }
}
