.surveyContainer h1{
    text-align: center;
    margin: 10rem 0;
    font-size: 2.5rem;
}

.tab_con{
    background-color: #f4f4f4;
    padding: 40px 0;
    /* padding-right: 40px; */
    margin: 0 auto;
    width: 90%;
    border-radius: 1.5rem;
}

.table {
    margin: 0 auto;
    width: 100%;
    font-size: 1.6rem;
    border-collapse: collapse;
}

.header th{
    min-width: 20px;
}

.tr{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #000;
    /* margin: 40px 0; */
}

.td{
    text-align: center;
    min-width: 20px;
    /* padding: 20px 0;?\\\ */
}

.tr:last-child{border: none;}

.question{
    padding-right: 40px;
}

@media screen and (max-width: 768px) {
    .table{
        font-size: 1rem;
    }
}