.container{
    text-align: center;
    font-size: 2rem;
    margin-top: 18.5rem;
}

.container h3{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.container > p{
    width: 70%;
    margin: 0 auto
    /* text-align: center; */
}

.filter_container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.filter_container div:nth-child(2){
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.filter_container div{
    padding: 0 3rem;
}

@media screen and (max-width: 768px) {
    .container > p{
        width: 90%;
    }
    .filter_container{
        font-size: 1.5rem;
    }
    .filter_container div{
        padding: 0 1rem;
    }
}