.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-top: 10rem;
    font-size: 2rem;
    /* font-weight: bold; */
    margin-bottom: 5rem;
    width: 100%;
}

.container h1{
    font-size: 2.5rem;
}

.img{
    position: relative;
    height: 400px;    /* display: block; */
    width: 50%;
}


@media screen and (max-width: 768px) {
    .img{
        width: 95%;
    }
    .container{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 350px) {
    .img{
        height: 200px;
    }
}
